.neon-btn {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  color: rgba(0, 255, 255, 0);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  padding: 10px;
  transition: 0.3s ease;
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
}

.neon-btn:hover {
  color: #ffffff00;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(255, 255, 255), 0 0 50px #0ff, 0 0 100px #0ff;
  transform: scale(1.15) rotate(5deg);
}

.swiper-pagination-bullet {
  background: rgb(255, 255, 255) !important;
  opacity: 0.5 !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
}

.swiper-slide-custom {
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.5;
  transform: scale(2);
}

.swiper-slide-active {
  transform: scale(1);
  opacity: 1;
  z-index: 10;
}